.change_rules_nginx4pa:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - &changes_nginx4pa
      changes:
        - .gitlab-ci.yml
        - nginx4spa/**/*

Lint nginx4spa:
  stage: "Quality"
  extends: .change_rules_nginx4pa
  image: hadolint/hadolint:v1.19.0-debian
  script:
    - hadolint ./nginx4spa/Dockerfile

Build nginx4spa:
  stage: "Build"
  needs:
    - Lint nginx4spa
  extends:
    - .base_register_to_gitlab_stage
    - .change_rules_nginx4pa
  variables:
    CONTEXT: nginx4spa
    IMAGE_NAME: ${CI_REGISTRY_IMAGE}/nginx4spa

Test nginx4spa:
  stage: "Test"
  extends: .change_rules_nginx4pa
  needs:
    - Lint nginx4spa
    - Build nginx4spa
  image: docker:20
  services:
    - docker:20-dind
  script:
    - apk add --no-cache bats git ca-certificates wget
    - git clone -b 'v0.3.0' --single-branch --depth 1 https://github.com/ztombol/bats-support /usr/lib/bats-support
    - git clone -b 'v0.3.0' --single-branch --depth 1 https://github.com/ztombol/bats-assert /usr/lib/bats-assert
    #
    - bats nginx4spa/test -t
  after_script:
    - docker stop nginx4spa_test || true

Publish nginx4spa to Github Registry:
  extends: .base_publish_to_github_stage
  rules:
    - <<: *changes_nginx4pa
      if: "$CI_COMMIT_TAG"
  needs:
    - Lint nginx4spa
    - Build nginx4spa
    - Test nginx4spa
  variables:
    IMAGE_NAME: socialgouv/docker/nginx4spa
